/* Variables */
$background-color: #2c2f33;
$container-bg-color: #23272a;
$text-color: #dcdcdc;
$heading-color: #ffffff;
$button-bg-color: #40444b;
$button-hover-bg-color: lighten($button-bg-color, 10%);
$border-radius: 10px;
$border-color: #666;
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

/* Popup container */
.Popup {
  background-color: $background-color;
  width: 627px;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: $text-color;
}

/* Main container styling */
.container {
  width: 95vw;
  height: 500px;
  padding: 10px;
  border: 1px solid $border-color;
  background-color: $container-bg-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

/* Header styling */
.header {
  text-align: center;
  margin-bottom: 10px;

  h1 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: $heading-color;
  }
}

/* Summary container styling */
.summary-container {
  border: 1px solid $text-color;
  padding: 10px;
  border-radius: $border-radius;
  margin-bottom: 10px;
  height: 150px;
  overflow-y: auto;
  background-color: $background-color;

  h2 {
    font-size: 14px;
    margin-bottom: 5px;
    color: $heading-color;
  }
}

/* Buttons container styling */
.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;

  button {
    background-color: $button-bg-color;
    color: $text-color;
    border: 1px solid $text-color;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $button-hover-bg-color;
    }
  }
}

/* Textarea styling */
.text-area {
  margin-bottom: 10px;

  textarea {
    width: 98%;
    height: 50px;
    background-color: $button-bg-color;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 5px;
    resize: none;
  }
}

/* Footer styling */
.footer {
  display: flex;
  justify-content: space-around;
  font-size: 12px;

  a {
    color: lighten($text-color, 20%);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Main content styling */
.main-content {
  background-color: $background-color;
  height: 136vh;
}
