.dark-mode {
  --text: wheat;
  --background: #000000;///////////////////////////////////////////////
  --primary: #292929;
  --secondary: #292929;
  --accent: #f9f9f9;
  --container-bg: #000000; // Add this variable for container background
}

body.dark-mode {
  background-color: var(--background);
  color: var(--text);
}

// Apply dark mode styles to all text elements
.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode label,
.dark-mode span,
.dark-mode a,
.dark-mode ul /////////////////////////////
{
  color: var(--text);
}


// Existing styles for options container and items
.dark-mode .options-container {
  background-color: var(--secondary);
  color: var(--text);
}

.dark-mode .option-item label {
  color: var(--text);
}

.dark-mode .option-item input[type="checkbox"],
.dark-mode .option-item select {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--primary);
}

.dark-mode .option-item input[type="checkbox"]:checked,
.dark-mode .option-item select:focus {
  border-color: var(--accent);
}

.dark-mode .summary-list {
  background-color: var(--secondary);
  color: var(--text);
  border: 1px solid var(--primary);
  padding: 10px;
  border-radius: 5px;
}

// .dark-mode .summary-list-item {
//   background-color: var(--background);
//   color: var(--text);
//   border-bottom: 1px solid var(--primary);
//   padding: 5px;
// }

.dark-mode .summary-list-item:last-child {
  border-bottom: none;
}
body.dark-mode {
  background-color: var(--background);
  color: var(--text);
}///////////////////////////////////////////////////////

// Add this rule to make .container background black
.dark-mode .container {
  background-color: var(--container-bg);
}
.dark-mode .text-area {
  background-color: var(--container-bg);
}
.dark-mode .summary-list {
  background-color: var(--container-bg);
}
.dark-mode button {
  background-color:  rgb(48, 48, 48);
  color: var(--text);
}
.dark-mode .saved-summary-btns {
        color: wheat;
        margin-bottom: 10px;
      }
// Add styles for the list items in SummaryList
.dark-mode .summary-list li {
  background-color: var(--background);
  color: var(--text);
  border-bottom: 1px solid var(--primary);
  padding: 10px;
  margin-bottom: 5px;
}
.dark-mode #summary-url {
  color: wheat;

}
.dark-mode #summary-value {
  color: wheat;
}
.dark-mode #summary-buttons {
  color: wheat;
}