
.dark-mode {
  --text: wheat;
  --background: #000000;
  --primary: #292929;
  --secondary: #292929;
  --accent: #f9f9f9;
  --container-bg: #000000;
  --background-btn: #171717;
}

body.dark-mode {
  background-color: var(--background);
  color: var(--text);
}

// Apply dark mode styles to all text elements this is cool
.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode label,
.dark-mode span,
.dark-mode a,
.dark-mode ul
{
  color: var(--text);
}

.dark-mode .options-container {
  background-color: var(--secondary);
  color: var(--text);
}

.dark-mode .option-item label {
  color: var(--text);
}

.dark-mode .option-item input[type="checkbox"],
.dark-mode .option-item select {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--primary);
}

.dark-mode .option-item input[type="checkbox"]:checked,
.dark-mode .option-item select:focus {
  border-color: var(--accent);
}

.dark-mode .summary-list {
  background-color: var(--secondary);
  color: var(--text);
  border: 1px solid var(--primary);
  padding: 10px;
  border-radius: 5px;
}

body.dark-mode {
  background-color: var(--background);
  color: var(--text);
}

.dark-mode .container {
  background-color: var(--container-bg);
}
.dark-mode .text-area {
  background-color: var(--container-bg);
}
.dark-mode .summary-list {
  background-color: var(--container-bg);
}
.dark-mode button {
  background-color:  rgb(48, 48, 48);
  color: var(--text);
}

.dark-mode .summary-list li {
  background-color: var(--background);
  color: var(--text);
  border-bottom: 1px solid var(--primary);
  padding: 10px;
  margin-bottom: 5px;
}
.dark-mode #summary-url {
  color: var(--text);

}
.dark-mode #summary-value {
  color: var(--text);
}
.dark-mode #summary-buttons {
  color: var(--text);
  background-color: #303030;
  
}
.dark-mode #text-input {
  background-color: var(--secondary);
  color: var(--text);

  &:focus {
    border-color: wheat; 
    outline: none; 
  }
}

.dark-mode .summary-container,
.dark-mode .response-text,
.dark-mode .display-summary {
  background-color: var(--background-btn);
  color: var(--text);

  &::-webkit-scrollbar {
    width: 5px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: wheat; 
    border-radius: 2px; 
  }

  &::-webkit-scrollbar-corner {
    background-color: rgb(0, 0, 0); 
  }
}


.dark-mode #darkmode-on{
  color: var(--text);
  display: flex;
  justify-content: center;
}

.dark-mode .extentsion-title {
  display: inline-block;
  animation: rotate 2s linear;
  animation-iteration-count: 1;
  border: 2px solid wheat; 
  border-radius: 8px;                
  padding: 10px;
}


/* Scrollbar Styling */
html.dark-mode::-webkit-scrollbar, 
body.dark-mode::-webkit-scrollbar {
  width: 5px; 
}

html.dark-mode::-webkit-scrollbar-thumb, 
body.dark-mode::-webkit-scrollbar-thumb {
  background-color: wheat; 
  border-radius: 2px;
}

html.dark-mode::-webkit-scrollbar-corner, 
body.dark-mode::-webkit-scrollbar-corner {
  background-color: black; 
}

.dark-mode .summary-list ul li h3 {
 
    color: wheat;
 
}

.dark-mode .edit-title-input {
  width: 50%;
  height: 25px;
  background-color: var(--secondary) ;
  color: wheat ;
  border: 1px solid ;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  &:focus {
    border-color: wheat; 
    outline: none; 
  }
} 

.dark-mode .message_copy {
 color: wheat
}


.dark-mode .modal-msg {
  border: 2px solid wheat;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--background-btn);
  width: 94%;
  margin-left: 7px;
}

.dark-mode .modal-content {

  background-color: var(--background-btn);
}

.dark-mode #donate-btn:hover {
  transform: scale(2.0); 
  color: #00f85b;
  animation: textPulse 1s infinite alternate;
}

@keyframes textPulse {
  0% {
    color:#00f85b;
  }
  50% {
    color:aqua;
  }
  100% {
    color:#00f85b;
  }
}


.dark-mode #donate-btn:hover {
  transform: scale(2.0); 
  color: #00f85b; 
  animation: textPulse 1s infinite alternate; 
}

@keyframes textPulse {
  0% {
    color:wheat;
  }
  50% {
    color:brown;
  }
  100% {
    color:wheat;
  }
}