// Variables
$border-color: #fc1010;
$padding: 10px;
$font-size: 20px;

// Mixin for flexbox
@mixin flex-center($direction: row, $justify: space-around, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Styles
.rewrite-copybtns {
  @include flex-center(row, space-around, flex-start);
  padding: $padding;
}

.display-summary {
  border: 5px solid $border-color;

  #summary-response {
    padding: $padding;
    font-size: $font-size;
  }
}

#summary-text {
  padding: $padding;
  font-size: $font-size;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.extentsion-title {
  display: inline-block;
  animation: rotate 2s linear;
  animation-iteration-count: 1;
}
