@import '../styles/base'; 


.rewrite-copybtns {
  @include flex-center(row, space-around, flex-start);
  padding: $padding; 
}

// .display-summary {
//   border: 5px solid $border-color; 
//   padding: $padding; 
//   border-radius: $border-radius; 

//   #summary-response {
//     padding: $padding; 
//     font-size: $font-size-base;
//   }
// }

#summary-text {
  padding: $padding; 
  font-size: $font-size-base; 
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.extentsion-title {
  display: inline-block;
  animation: rotate 2s linear;
  animation-iteration-count: 1;
  
}
