@import '../styles/base';


.rewrite-copybtns {
  @include flex-center(row, space-around, flex-start);
  padding: $padding;
}

#summary-text {
  padding: $padding;
  font-size: $font-size-base;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.extentsion-title {
  display: inline-block;
  animation: rotate 2s linear;
  animation-iteration-count: 1;
  border: 2px solid $primary-color; 
  border-radius: 8px;                
  padding: 10px;
}
