@import '../styles/base'; // Import global styles



.links-to {
  display: flex;
  justify-content: space-evenly;
  font-size: $font-size-base;
  margin-top: 30px;


  a {
    color:#029d9a;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $button-hover-bg-color;
    }
  }
}

.text-area {
  margin-top: 46px;
  padding: $padding;
  background-color: $background-color;
  color: $text-color;

  textarea {
    width: 100%;
    height: 50px;
    background-color: $button-bg-color;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: $padding;
    resize: none;
  }
}

.summary-container,
.response-text,
.display-summary {
  width: $container-width;
  height: $container-height;
  border: 1px solid $border-color;
  padding: $padding;
  border-radius: $border-radius;
  background-color: $container-bg-color;
  font-size: $font-size-base;
  overflow-y: auto;
  margin-top: 25px;

  h2 {
    font-size: $font-size-heading;
    color: $heading-color;
    margin-bottom: 5px;
    text-decoration: underline;
  }

  p {
    font-size: $font-size-base;
    color: $text-color;
  }

  
  &::-webkit-scrollbar {
    width: 5px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color; 
    border-radius: 2px; 
     
  }
  &::-webkit-scrollbar-corner {
    background-color: rgb(0, 0, 0); 
  }
}

#summary-response {
  padding: $padding;
  font-size: $font-size-base;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;

  button {
    @extend .button; // Standardize button styles
  }
}
