@import "../styles/darkMode.scss";
@import "../styles/base";

.summarize-btns {
  display: flex;
  justify-content: space-evenly;
  padding: $padding;
}

.summary-container {
  height: 43vh;
  border: 5px solid $border-color;
}

.summary-container h2 {
  margin-bottom: -22px;
  font-size: $font-size-heading;
  color: $heading-color;
}
.modal-msg {
  border: 2px solid white;
  padding: 10px;
  border-radius: 8px;
  background-color: black;
}
