@import '../styles/base';
@import "../options/darkMode.scss";

.summary-list {
  background-color: $container-bg-color;
  color: $text-color;
  padding: $padding;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  max-width: 600px;
  margin: 20px auto;
  text-align: left;

  h2 {
    color: $heading-color;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      background-color: $background-color;
      padding: $padding;
      margin-bottom: $padding;
      border-radius: $border-radius;
      border: 1px solid $border-color;
      box-shadow: $box-shadow;
      margin-top: 40px;

      &:not(:last-child) {
        border-bottom: 2px solid $border-color;
      }

      h3 {
        color: $heading-color;
        margin-bottom: 10px;
        word-break: break-all;
      }

      p {
        color: wheat;
        margin-bottom: 10px;
      }

      .saved-summary-btns {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        button {
          background-color: $button-bg-color;
          color: $text-color;
          border: none;
          border-radius: 5px;
          padding: 8px 15px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $button-hover-bg-color;
          }
        }
      }

      .copy-message {
        margin-top: 10px;
        color: lighten($text-color, 15%);
        font-size: 0.9em;
      }
    }
  }

  &.dark-mode {
    background-color: var(--background);
    color: var(--text);

    h2 {
      color: var(--text);
    }

    li {
      background-color: var(--secondary);
      color: var(--text);
    }

    .saved-summary-btns button {
      background-color: var(--primary);
      color: var(--text);
      border: 1px solid var(--accent);
    }

    .saved-summary-btns button:hover {
      background-color: var(--accent);
      color: var(--background);
    }

    .copy-message {
      color: var(--text);
    }
  }
  .summary-text {
    color: var(--text);
  }
  #summary-url {
    color: var(--text);

   }
}


@media (max-width: 768px) {
  .summary-list {
    padding: 10px;
    max-width: 100%;

    ul li {
      padding: 10px;
    }

    .saved-summary-btns {
      flex-direction: column;
      gap: 10px;

      button {
        width: 100%;
      }
    }
  }
}
